/************************
MEDIA QUERIES
************************/
@media screen and (max-width: 2650px) {
  #logo {
    width: 40rem;
  }
}

@media screen and (max-width: 1920px) {
  h1 {
    font-size: 13rem;
  }
  .work-heading {
    bottom: 55rem;
    right: 15rem;
    z-index: 5;
  }
}

@media screen and (max-width: 1440px) {
  #logo {
    width: 30rem;
  }
  .work-heading {
    bottom: 45rem;
    right: 25rem;
    z-index: 5;
  }
  h1 {
    font-size: 9rem;
  }
}

@media screen and (max-width: 1366px) {
  #logo {
    width: 20rem;
  }
  .work-heading {
    bottom: 43rem;
    right: 28rem;
    z-index: 5;
  }
}

@media screen and (max-width: 1280px) {
  .work-heading {
    bottom: 43rem;
    right: 30rem;
    z-index: 5;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    background-image: url("/img/011_background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  h2 {
    display: none;
  }
  .work-heading {
    position: unset;
  }
}

@media screen and (max-width: 768px) {
  #logo {
    width: 30rem;
  }
  .owl-theme .owl-dots {
    display: none;
  }
  h1,
  p {
    text-align: center;
    padding-bottom: 3rem;
  }
  .work {
    min-height: 120vh;
  }
}

@media screen and (max-width: 576px) {
  #logo {
    width: 20rem;
    margin: 5rem 0 0 0;
  }
  h1 {
    font-size: 4rem;
    text-align: center;
  }
  p {
    font-size: 1.5rem;
    text-align: center;
  }
  .btn-3 {
    margin-top: 30rem;
  }
}
